OCTOPUS_ENERGY_ACCOUNT_NUMBER=your-account-number
OCTOPUS_ENERGY_API_KEY=your-api-key
OCTOPUS_ENERGY_EV_DEVICE_ID=your-ev-device-id
GIVENERGY_INVERTER_ID=your-inverter-id
GIVENERGY_API_TOKEN=your-api-token
SOLCAST_PROPERTY_ID=your-property-id
SOLCAST_API_KEY=your-api-key
S3_BUCKET_NAME=your-s3-bucket-name
LAMBDA_FUNCTION_NAME=your-lambda-function-name
AWS_REGION=eu-west-2
